$colorOne: black;
$colorTwo: white;
$colorThree: blue;

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: rgb(64, 63, 61);
    font-family: Inter;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
}

p {
    margin: 0;
}

body {
    background: rgb(225, 212, 201);
    position: relative;
    width: 1440px;
    flex-direction: column;
    display: flex;
    padding: 20px 0px 40px 0px;
    margin: 0;
    font-family: "Roboto", "Arial", sans-serif, Inter;
}



i {
    color: rgb(176, 144, 122);
}

.container {
    position: relative;
    width: 1440px;
    height: 60px;
    padding: 0 40px 0 40px;

    .header-menu {
        width: 1360px;
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;


        .nav-item {
            color: rgb(64, 63, 61);
            font-family: Inter;
            font-size: 17px;
            font-weight: 600;
            line-height: 150%;
            letter-spacing: 0%;
            text-align: left;
            font-weight: normal;
        }

        .logo {
            width: 100px;
            height: 60px;
        }

        .nav {
            display: block;
            position: static;
            width: 1188px;
            height: 60px;
            display: flex;
            flex-direction: row;
            // justify-content: space-between;
            align-items: center;
            justify-content: center;
            gap: 40px;
            list-style-type: none;
            padding-inline-start: 0;
        }

        .coffee-menu {
            height: 60px;
            width: 72px;
            display: flex;
            flex-direction: row;
            align-items: center;

            p {
                color: rgb(64, 63, 61);
                font-family: Inter;
                font-size: 17px;
                line-height: 150%;
                letter-spacing: 0%;
                text-align: left;

            }
        }
    }
}

.hero {
    position: relative;
    width: 1440px;
    height: 644px;
    padding: 0px 40px 0px 40px;
    margin-top: 20px;

    h1 {
        font-family: Inter;
        font-size: 75px;
        font-weight: normal;
        line-height: 100%;
        text-align: left;
        color: rgb(225, 212, 201);
        display: inline;
        letter-spacing: -0.8px;

    }

    .container-hero {
        position: static;
        width: 1360px;
        height: 644px;
        border-radius: 40px;
        background-image: url(/coffe-house/assets/img-hero.jpg);
        background-position: center center;

        .offer {
            padding: 100px;

            .text-hero {
                margin: 43px 0 40px 0;
                color: rgb(225, 212, 201);
                display: flex;
                line-height: 1.5;
                letter-spacing: 0.5px
            }
        }

        .butt-menu {
            position: static;
            width: 200px;
            height: 64px;
            border: none;
            border-radius: 100px;
            background: rgb(225, 212, 201);
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 20px 78px 20px 78px;
            color: rgb(64, 63, 61);
            font-family: Inter;
            font-size: 16px;
            font-weight: 600;
            line-height: 150%;
            letter-spacing: 0%;
            text-align: center;
            cursor: pointer;


        }
    }
}

.favorite-coffee {
    margin: 100px 0 100px 0;
    position: static;
    width: 1440px;
    height: 799px;
    padding: 0 40px 0 40px;

    .favorite {
        display: flex;
        justify-content: center;

        h1 {
            color: rgb(64, 63, 61);
            margin: 0;
            font-size: 70px;
        }
    }

    .slider-container {
        margin-top: 40px;
        position: static;
        width: 1360px;
        height: 684px;
        display: flex;
        // flex-direction: column;
        justify-content: center;

        .button-left {
            height: 640px;
            width: 104px;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            img {
                width: 60px;
                height: 60px;
            }
        }

        .button-right {
            height: 640px;
            width: 104px;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            img {
                width: 60px;
                height: 60px;
            }
        }

        .slide {
            position: static;
            width: 1152px;
            height: 640px;
            display: flex;
            justify-content: center;

            .content {
                position: static;
                width: 480px;
                height: 640px;

                .coffee-img {
                    display: flex;
                    position: static;
                    width: 480px;
                    height: 480px;
                }

                .description {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;

                    .bigger {
                        display: flex;
                        justify-content: center;
                        text-align: center;
                        color: rgb(64, 63, 61);
                        font-family: Inter;
                        font-size: 24px;



                    }

                    .bigger.up {
                        margin-top: 15px;
                    }

                    .text {
                        color: rgb(64, 63, 61);
                        font-family: Inter;
                        font-size: 16px;
                        font-weight: 400;
                        text-align: center;
                        margin: 16px 0 15px 0;
                        line-height: 25px;
                    }
                }
            }
        }

    }
}

.about {
    position: static;
    width: 1440px;
    height: 1325px;
    display: flex;
    flex-direction: column;
    padding: 0 40px 0 40px;

    .text-about {
        position: static;
        width: 1360px;
        height: 225px;
        display: flex;
        justify-content: center;

        h1 {
            font-family: Inter;
            font-size: 60px;
            font-weight: normal;
            line-height: 125%;
            text-align: left;
            color: rgb(64, 63, 61);
            margin: 0;
            letter-spacing: 0.4px;
        }
    }


    .container-about {
        margin-top: 40px;
        position: static;
        width: 1360px;
        height: 1060px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 40px;




        .left {

            width: 660px;
            height: 1060px;
            display: grid;
            grid-template-columns: 1fr;
            grid-row-gap: 40px;

            .img-1 {
                background-image: url(/coffe-house/assets/img/img1.jpg);
                width: 660px;
                height: 590px;
                border-radius: 20px;
                background-position: center center;
            }

            .img-2 {
                width: 660px;
                height: 430px;
                background-image: url(/coffe-house/assets/img/img2.jpg);
                border-radius: 20px;
                background-position: center center;
            }
        }

        .right {
            width: 660px;
            height: 1060px;
            display: grid;
            grid-template-columns: 1fr;
            grid-row-gap: 40px;

            .img-3 {
                width: 660px;
                height: 430px;
                background-image: url(/coffe-house/assets/img/img3.jpg);
                border-radius: 20px;
                background-position: center center;
            }

            .img-4 {
                background-image: url(/coffe-house/assets/img/img4.jpg);
                width: 660px;
                height: 590px;
                border-radius: 20px;
                background-position: center center;
            }
        }
    }
}

.mobaileApp {
    margin-top: 100px;
    width: 1440px;
    height: 630px;

    .container {
        width: 1360px;
        height: 630px;
        padding: 0 40px;
        display: flex;
        flex-direction: row;
        gap: 100px;

        .wrapper {
            display: flex;
            align-items: center;

            .offer {
                width: 630px;
                height: 342px;
                display: flex;
                flex-direction: column;
                gap: 40px;

                h1 {
                    font-family: Inter;
                    font-size: 60px;
                    font-weight: normal;
                    line-height: 125%;
                    letter-spacing: 1px;
                    text-align: left;
                    margin: 0;
                }




                .title {
                    font-family: Inter;
                    font-size: 60px;
                    font-weight: normal;
                    line-height: 125%;
                    letter-spacing: 0%;
                    text-align: left;

                }

                .text {
                    color: rgb(64, 63, 61);
                    font-family: Inter;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 150%;
                    letter-spacing: 0%;
                    text-align: left;
                }

                .buttons {
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                }

            }
        }

        .mobileScreens {
            width: 630px;
            height: 630px;
        }
    }

}